<!--
  Generated template for the CreateCommandePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>creer une commande</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h2>Selectionner un client :</h2>
  <div>


    <ion-list>

      <ion-item *ngFor="let c of clients" (click)="selectClient($event,c);">
        <table>
          <tr>
            <td padding>{{c.cin}}</td>
            <td padding>{{c.nom}}</td>
            <td padding>{{c.prenom}}</td>
          </tr>
        </table>
      </ion-item>
    </ion-list>
  </div>


  <div [hidden]="selectedClient == null ">

    <h2>Selectionner les produits :</h2>

    <div>
      <div [hidden]="!displayPanier">
        <ion-buttons start>
          <button ion-button icon-only (click)="addCommandeDetail();">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>

        <h3 padding>paniers </h3>
        <ion-list>
          <ion-item *ngFor="let cd of commandeDetails" (click)="editCommandeDetail(cd);">

            <table style="width : 100%">
              <tr style="border-bottom : 1px solid gray">
                <td>
                  <ion-item>{{cd.produit.marqueLogo}}</ion-item>
                </td>
                <td>
                  <ion-item>{{cd.produit.marqueLibelle}}</ion-item>
                </td>
                <td>
                  <ion-item>{{cd.quantite}}</ion-item>
                </td>
                <td>
                  <ion-item>{{cd.prixVente}}</ion-item>
                </td>
                <td style="width : 90px">
                  <ion-item>
                    <i class="fa fa-pencil-square-o fa-2x" (click)="editCommandeDetail(cd) ;" aria-hidden="true"></i>
                    <i class="fa fa-trash-o fa-2x" (click)="removeCommandeDetail(cd) ;" aria-hidden="true"></i>

                  </ion-item>
                </td>
              </tr>
            </table>
          </ion-item>
        </ion-list>
      </div>


      <div [hidden]="!displayProductList">
        <i class="fa fa-reply fa-2x" tooltip="retourner vers la liste" (click)="retourPanier() ;"> </i>
        
        <div class="formPanel">
          <label> marque :</label>
          <input />
          <br/>
          <label> reference :</label>
          <input />
        </div>
        
        <h3 padding>produits disponibles :</h3>
        <i class="fa fa-info-circle fa-2x" aria-hidden="true" tooltip="recaputilatif de la commande" (click)="recapCommande();"></i> 
        <ion-list>
          <ion-item *ngFor="let pd  of paniers" style="text-align : center" (click)="selectedProduit(pd);">

            <div>
               
              <div class="toolbarindicator"  >
                 
                  <div style="margin-top : 10px" [hidden]="pd.quantite == '' || pd.prix == ''" >
                      <span>quantité : {{pd.quantite}}</span>
                      <span>prix :{{pd.prix}} DH</span>
                  </div>
              </div>
              <produit [produit]="pd.produit"></produit>
            </div>



          </ion-item>
        </ion-list>

      </div>


    </div>




  </div>


</ion-content>