page-commande-detail {

  

    .formtable td:nth-child(2n+1){
        text-align: left;
        font-family: monospace;
        font-size: 1.5em ;
        width: 35%;
        background: rgba(118, 56, 56, 0.6313725490196078) ; 
        color: white ; 
        padding-left : 10px;

    }

}
