<div style="width : 40%; margin : auto">
  <div>
    <table style="border : 2px solid black;width : 100%">
      <tr style="background: gray ; text-align : center ; font-family: monospace; font-weight: bolder;font-size: 1.5em">
        <td style="border : 2px solid black ; padding : 10px">

          <img src="{{produit.logoMarque}}" />

        </td>
        <td style="border : 2px solid black ; padding : 10px">{{produit.reference}}</td>
      </tr>
    </table>
    <div style="padding : 10px;border : 2px solid black">

        <img src="{{produit.urlReference}}" />



    </div>

    <table style="border : 2px solid black; width : 100%">
      <tr style="font-family: monospace; ">
        <td style="border : 2px solid black ; padding : 10px ; background: orange;font-family: monospace">stock 
        </td>
        <td style="border : 2px solid black ; padding : 10px ; background: blue;text-align : center; color : white">
            {{produit.quantite}} 
              </td>
      </tr>
    </table>
  </div>
</div>